li{
    list-style-type: none;
}
body{
    background-color: rgb(17, 13, 39);
    font-family: sans-serif;
}
.root{
   
    .main{
        background-color: white;
        width: 55%;
        margin: 150px auto;
        padding: 10px ;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        .text{
            margin-left: 20px;
            width: 400px;
            h1{
                font-size: 45px;
            }
            p{
                i{
                    color: red;
                    margin-right: 5px;
                }
            }
            .email{
                label{
                    p{
                        margin-top: 30px;
                    }
                }                
            }
        }
        .image{
            img{
                width:320px;
                border-radius: 10px;
            }
        }
    }
}
